In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pylab as plt
import seaborn as sns
from sqlalchemy import create_engine
%matplotlib inline

mysql = create_engine(f'mysql+pymysql://service:uNEC8GrVBMz9RbYW@service.cluster-ro-cogfzn9i6pkm.ap-northeast-2.rds.amazonaws.com:4306/quicket?charset=utf8', encoding='utf-8')
redshift = create_engine('postgresql+psycopg2://emily_park:Emilypark321#!@bun-dw.chlb9dm0sjmd.ap-northeast-2.redshift.amazonaws.com:5439/bunjang', encoding='utf-8')

In [11]:
# 1월에 조인한 유저들이 2월부터 4월까지 월별 등록한 상품 수 (bizlicense=0)
product = pd.read_csv('product_create.csv')

In [12]:
# 1월에 조인한 유저들이 2월부터 4월까지 월별, 날짜별 등록한 상품 수 (bizlicense=0)--> 월별 상품 등록 날짜 수 구하는 목적
product_daily = pd.read_csv('product_create_daily.csv')

In [13]:
product.head()

        uid    month  count
0  10708333  2020-02     10
1  10633780  2020-02      3
2  10720617  2020-02      5
3  10629006  2020-02     18
4  10696031  2020-02     71

In [14]:
product_daily.head()

        uid    month         day  count
0  10728514  2020-02  2020-02-19      1
1  10633780  2020-02  2020-02-20      1
2  10725020  2020-02  2020-02-16      1
3  10730329  2020-02  2020-02-20      2
4  10714317  2020-02  2020-02-18     18

In [32]:
product.groupby('uid', as_index=False)['month'].count().groupby('month')['uid'].agg(lambda x: len(x)/len(product['uid'].unique()))
# 1월 가입한 유저중 2-4월(3개월) 동안 상품 등록한 월 수

month
1    0.657543
2    0.234744
3    0.107713
Name: uid, dtype: float64

In [37]:
temp = product.groupby('uid', as_index=False)['month'].count()
one_uid = temp[temp['month'] == 1]['uid'].tolist()
two_uid = temp[temp['month'] == 2]['uid'].tolist()
three_uid = temp[temp['month'] == 3]['uid'].tolist()

In [38]:
one = product_daily[product_daily['uid'].isin(one_uid)]
two = product_daily[product_daily['uid'].isin(two_uid)]
three = product_daily[product_daily['uid'].isin(three_uid)]

           uid    month  count
0     10550537  2020-02      3
1     10550616  2020-04      5
2     10550617  2020-04      4
3     10550634  2020-02      2
4     10550672  2020-02      2
...        ...      ...    ...
9628  10737757  2020-04      2
9629  10737777  2020-04      1
9630  10737784  2020-04      1
9631  10737799  2020-02      2
9632  10737819  2020-03      2

[9633 rows x 3 columns]

In [24]:
# 유저가 한달에 상품 등록하는 날짜 수
days_month = product_daily.groupby(['uid', 'month'], as_index=False)['day'].count()

In [25]:
feb = days_month[days_month['month'] == '2020-02']
mar = days_month[days_month['month'] == '2020-03']
apr = days_month[days_month['month'] == '2020-04']

In [42]:
print('mean:',days_month['day'].mean())
print('median:',days_month['day'].median())

mean: 2.326288538479642
median: 1.0