In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pylab as plt
import seaborn as sns
from sqlalchemy import create_engine
%matplotlib inline

mysql = create_engine(f'mysql+pymysql://service:uNEC8GrVBMz9RbYW@service.cluster-ro-cogfzn9i6pkm.ap-northeast-2.rds.amazonaws.com:4306/quicket?charset=utf8', encoding='utf-8')
redshift = create_engine('postgresql+psycopg2://emily_park:Emilypark321#!@bun-dw.chlb9dm0sjmd.ap-northeast-2.redshift.amazonaws.com:5439/bunjang', encoding='utf-8')

In [2]:
daily = pd.read_csv('daily_normal_product_cap.csv')
# 일반 상점이 하루에 판매하고 있는 상태(status=0)의 상품 수

In [3]:
daily.head()

       uid       daily  count
0  8315203  2020/05/12      1
1  8449855  2020/05/12      1
2  8407373  2020/05/13      1
3   401727  2020/05/11      2
4   401727  2020/05/13      2

In [13]:
daily.groupby('daily', as_index=False)['count'].mean()

        daily     count
0  2020/05/11  1.879587
1  2020/05/12  1.887917
2  2020/05/13  1.891909
3  2020/05/14  1.852120
4  2020/05/15  1.929185
5  2020/05/16  1.935784
6  2020/05/17  1.000000

In [14]:
daily.groupby('daily', as_index=False)['count'].median()

        daily  count
0  2020/05/11      1
1  2020/05/12      1
2  2020/05/13      1
3  2020/05/14      1
4  2020/05/15      1
5  2020/05/16      1
6  2020/05/17      1

In [11]:
len(daily[daily['count'] == 1])/len(daily)

0.6707100422166613

In [7]:
daily['count'].describe()

count    104698.000000
mean          1.895404
std           2.379606
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max          30.000000
Name: count, dtype: float64