In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
import matplotlib as plt
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from PIL import Image
import requests
from io import BytesIO


mysql = create_engine('mysql+pymysql://service:uNEC8GrVBMz9RbYW@service.cluster-ro-cogfzn9i6pkm.ap-northeast-2.rds.amazonaws.com:4306/quicket?charset=utf8', encoding='utf-8')

bun_dw = create_engine('postgresql+psycopg2://emily_park:Emilypark321#!@bun-dw.chlb9dm0sjmd.ap-northeast-2.redshift.amazonaws.com:5439/bunjang', encoding='utf-8')

bun_rec = create_engine('postgresql+psycopg2://bun_rec_engine:Bunrecengine123#@bun-rec-engine.chlb9dm0sjmd.ap-northeast-2.redshift.amazonaws.com:5439/bunjang', encoding='utf-8')

In [2]:
def get_(keyword, category_id):
    q = f'''
    select id, name, keyword, 
        case
            when name like '%{keyword}%' or keyword like '%{keyword}%' then 1
            else 0
        end as label
    from service1_quicket.product_info
    where category_id = {category_id} and status IN (0, 1)
    '''
    return pd.read_sql(q, con=bun_dw)

In [3]:
golf = get_('골프채', 700600300)

In [4]:
golf.groupby('label').count()

          id   name  keyword
label
0      43316  43315    27756
1      54964  54964    54115

In [5]:
golf[golf['label'] == 0]

,id,name,keyword,label
0,99537024,푸마골프 클래식 레더 골프벨트,"골프벨트,벨트,푸마벨트,PUMA벨트,푸마골프",0
1,99590976,힐크릭 HCCB-7001 캐디백,None,0
4,100007555,아다바트 보스톤백,None,0
5,100272513,풋조이 DNA Helix 헬릭스 보아 53326 골프화 2018,"골프,골프용품,골프화,FootJoy,풋조이",0
9,100265986,풋조이 드라이 조이 투어 남성 골프화 53668,"골프,골프용품,골프화,FootJoy,풋조이",0
...,...,...,...,...
98275,147841353,테일러메이드 ATV KBS웨지플랙스52도웨지 (US스펙),None,0
98276,147927719,오토파워 TX5885 5S 5X 5XX 6X 6XX 샤프트 신품급,"골프,클럽기타,샤프트,드라이버 샤프트",0
98277,147928782,테일러메이드M4드라이버,None,0
98278,147928849,핑G25 7번 21도 아타스 75S 우드 팝니다,"핑,핑G25우드,핑우드,ping",0
98279,147929114,혼마 NEW LB-280 4스타 올금장 4번 L 여성용 아이언 단품,"혼마4스타,혼마올금장,혼마아이언,4번아이언",0

In [6]:
import re
def preprocess_product_name(text):
    text = str(text)
    text = re.sub(r"[^가-힣ㄱ-ㅎㅏ-ㅣA-z0-9-:/!@#$%^?&*()_=+.~{}\[\]]|\\", " ", text)
    text = re.sub(r'\s+', ' ', text)
    return text.lower().strip()

In [7]:
golf['name'] = golf['name'].map(preprocess_product_name)
golf['keyword'] = golf['keyword'].map(preprocess_product_name)

In [8]:
golf.drop_duplicates('name', inplace=True)

In [9]:
names = golf['name'].values.tolist()

In [10]:
train_set = golf['name'].map(lambda x: str(x) + ' ').values + golf['keyword'].values

In [17]:
product_name_list = 'products_for_pretrain.txt'
with open(product_name_list, 'w') as file:
    file.writelines(map(lambda x: str(x) + '\n', train_set))

In [21]:
sent2vec_model_file = 'sent2vec_model.bin'
snet2vec_index_file = 'sent2vec_index.bin'
sent2vec_lib_path = './sent2vec'

In [20]:
import os

param = {
    "input": product_name_list,
    "output": sent2vec_model_file.split('.')[0],
    "minCount": 3,
    "dim": 100,
    "epoch": 10,
    "lr": 0.2,
    "wordNgrams": 5,
    "loss": "ns",
    "neg": 10,
    "thread": os.cpu_count(),
    "t": "0.000005",
    "dropoutK": 4,
    "minCountLabel": 20,
    "bucket": 500000,
    "maxVocabSize": 100000,
    "numCheckPoints": 0,
    "verbose": 1
}
parse_param = " ".join(["-{} {}".format(k, v) for k, v in param.items()])

In [26]:
cmd = f"{sent2vec_lib_path}/fasttext sent2vec "
cmd = cmd + parse_param
print(cmd)
os.system(cmd)

./sent2vec/fasttext sent2vec -input products_for_pretrain.txt -output sent2vec_model -minCount 3 -dim 100 -epoch 10 -lr 0.2 -wordNgrams 5 -loss ns -neg 10 -thread 16 -t 0.000005 -dropoutK 4 -minCountLabel 20 -bucket 500000 -maxVocabSize 100000 -numCheckPoints 0 -verbose 1

0

In [34]:
import sent2vec
model = sent2vec.Sent2vecModel()
model.load_model(sent2vec_model_file)

AttributeError: module 'sent2vec' has no attribute 'Sent2vecModel'