In [1]:
import pandas as pd

In [6]:
labels = pd.read_csv('./data/keyword_label.csv', dtype=str)

In [7]:
labels

           keyword   label
0            골든차일드       0
1              라푼젤       1
2             콜렉트북       2
3              녕터리       3
4              마마무       4
...            ...     ...
101240     까르띠에산토스  101240
101241   케이스티파이 맥스  101241
101242  케이스티파이 mac  101242
101243         라마다  101243
101244      리미티드킬러  101244

[101245 rows x 2 columns]

In [9]:
pd.read_csv('./data/fm_libsvm.csv')

                   ?column?
0        4 27113:1 101244:1
1       15 27097:1 101244:1
2          3 191:1 101244:1
3        4 51870:1 101244:1
4        7 25523:1 101244:1
...                     ...
366275   4 26735:1 203792:1
366276   3 93578:1 203794:1
366277   4 25554:1 203798:1
366278   3 97676:1 203801:1
366279   3 55378:1 203805:1

[366280 rows x 1 columns]

In [8]:
pd.read_csv('rec_rfm_libsvm.csv')

                4 1:1 4028794:1 4585691:1
0            1 7507:1 4028797:1 4585410:1
1               1 5:1 4028800:1 4585696:1
2            1 7511:1 4028803:1 4585699:1
3               1 8:1 3770510:1 4585700:1
4              1 10:1 4028808:1 4585420:1
...                                   ...
26840683  1 3533334:1 4082298:1 4585415:1
26840684  1 3741771:1 3884445:1 4585796:1
26840685  1 3753835:1 4041188:1 4585763:1
26840686  2 3770404:1 4162033:1 4585753:1
26840687  1 3741644:1 3771082:1 4585446:1

[26840688 rows x 1 columns]

In [11]:
import psycopg2

n = 0.6  # min confidence; 1/search_cnt^n
min_lift = 1
confidence_weight = 0.7
lift_weight = 0.3

query = f"""
DROP TABLE IF EXISTS workspace.kyle_search_term_log_modified;
CREATE TABLE workspace.kyle_search_term_log_modified AS (
    SELECT user_id,                                                                                                        --uid
           session_id,                                                                                                     --세션 id
           lower(trim(regexp_replace(regexp_replace(search_term, '\\r|\\n', ' '), '\\s+', ' '))) AS keyword,               --검색어
           LAG(keyword, 1)
           OVER ( PARTITION BY user_id
               ORDER BY server_time_kst)                                                         AS prev_keyword,          --이전 검색어
           LEAD(keyword, 1)
           OVER ( PARTITION BY user_id
               ORDER BY server_time_kst)                                                         AS next_keyword,          --다음 검색어
           REPLACE(search_term, ' ', '')                                                         AS keyword_no_space,      --검색어 띄어쓰기 없애기
           REPLACE(prev_keyword, ' ', '')                                                        AS prev_keyword_no_space, --이전 검색어 띄어쓰기 없애기
           REPLACE(next_keyword, ' ', '')                                                        AS next_keyword_no_space, --다음 검색어 띄어쓰기 없애기
           server_time_kst::TIMESTAMP                                                            AS new_server_time,       --검색 시간
           LAG(server_time_kst, 1) OVER (
               PARTITION BY user_id
               ORDER BY server_time_kst)::TIMESTAMP                                              AS prev_server_time,      --이전 검색어 검색 시간
           LEAD(server_time_kst, 1) OVER (
               PARTITION BY user_id
               ORDER BY server_time_kst)::TIMESTAMP                                              AS next_server_time,      --다음 검색어 검색 시간
           datediff(SECOND, prev_server_time, new_server_time)                                   AS cur_prev_duration,     --검색 시간 차 (현재-이전)
           datediff(SECOND, prev_server_time, next_server_time)                                  AS prev_next_duration     --검색 시간 차 (다음-이전)
    FROM bun_log_db.app_event_type_search
    WHERE year || month || day >= to_char(CURRENT_DATE - INTERVAL '5 day', 'yyyymmdd')
      AND year || month || day < to_char(CURRENT_DATE, 'yyyymmdd')
      AND search_term IS NOT NULL
      AND search_term != ''
      AND search_term != ' '
      AND user_id > 0
      AND device_type IN ('a', 'i')
);
DROP TABLE IF EXISTS workspace.kyle_keyword_view_count;
CREATE TABLE workspace.kyle_keyword_view_count AS
SELECT lower(trim(regexp_replace(regexp_replace(ref_term, '\\r|\\n', ' '), '\\s+', ' '))) AS keyword,
       COUNT(*)                                                                           AS view_count
FROM bun_log_db.app_event_type_view v
WHERE year || month || day >= to_char(CURRENT_DATE - INTERVAL '5 day', 'yyyymmdd')
  AND year || month || day < to_char(CURRENT_DATE, 'yyyymmdd')
  AND event_action = 'view_content'
  AND content_type = 'product'
  AND v.ref_term IS NOT NULL
  AND v.ref_term != ''
  AND v.ref_term != ' '
  AND device_type IN ('a', 'i')
GROUP BY 1;
DROP TABLE IF EXISTS workspace.kyle_search_results_count;
CREATE TABLE workspace.kyle_search_results_count AS
SELECT lower(trim(regexp_replace(regexp_replace(search_term, '\\r|\\n', ' '), '\\s+', ' '))) AS keyword,
       MAX((search_results_count):: int)                                                     AS results_count
FROM bun_log_db.api_event_type_search
WHERE year || month || day >= to_char(CURRENT_DATE - INTERVAL '5 day', 'yyyymmdd')
  AND year || month || day < to_char(CURRENT_DATE, 'yyyymmdd')
  AND device_type IN ('a', 'i')
GROUP BY 1;
DROP TABLE IF EXISTS workspace.kyle_keyword_search_count;
CREATE TABLE workspace.kyle_keyword_search_count AS
SELECT keyword,
       count(*) AS search_count
FROM workspace.kyle_search_term_log_modified
GROUP BY 1;
DROP TABLE IF EXISTS workspace.kyle_related_keyword_prev_cur;
CREATE TABLE workspace.kyle_related_keyword_prev_cur AS
SELECT prev_keyword AS keyword,
       keyword      AS related_keyword,
       COUNT(*)     AS COUNT
FROM workspace.kyle_search_term_log_modified
WHERE prev_keyword IS NOT NULL
  AND cur_prev_duration <= 600
  AND cur_prev_duration >= 1
  AND keyword_no_space != prev_keyword_no_space
GROUP BY 1, 2;
DROP TABLE IF EXISTS workspace.kyle_related_keyword_prev_next;
CREATE TABLE workspace.kyle_related_keyword_prev_next AS
SELECT prev_keyword AS keyword,
       next_keyword AS related_keyword,
       COUNT(*)     AS COUNT
FROM workspace.kyle_search_term_log_modified
WHERE prev_keyword IS NOT NULL
  AND cur_prev_duration <= 300
  AND cur_prev_duration >= 1
  AND next_keyword_no_space != prev_keyword_no_space
GROUP BY 1, 2;
DROP TABLE IF EXISTS workspace.kyle_related_keyword_combined;
CREATE TABLE workspace.kyle_related_keyword_combined AS
SELECT *
FROM (SELECT c.keyword,
             c.related_keyword,
             c.count + n.count                                             AS related_count,
             (SELECT COUNT(*)
              FROM kyle_search_term_log_modified)                          AS total_search_count,
             sc.search_count,
             rsc.search_count                                              AS related_search_count,
             related_count / total_search_count :: float                   AS support,
             related_count / sc.search_count :: float                      AS confidence,
             confidence / (rsc.search_count / total_search_count :: float) AS lift
      FROM workspace.kyle_related_keyword_prev_cur c
               JOIN workspace.kyle_related_keyword_prev_next n ON c.keyword = n.keyword
          AND c.related_keyword = n.related_keyword
               JOIN workspace.kyle_keyword_search_count sc ON c.keyword = sc.keyword
               JOIN workspace.kyle_keyword_search_count rsc ON c.related_keyword = rsc.keyword) a
WHERE related_count > 2;
DROP TABLE IF EXISTS workspace.kyle_related_keyword_df_temp;
CREATE TABLE workspace.kyle_related_keyword_df_temp AS
SELECT k.keyword,
       k.related_keyword,
       k.related_count,
       k.search_count,
       k.related_search_count,
       rc.results_count,
       v.view_count AS related_view_count,
       k.total_search_count,
       k.support,
       k.confidence,
       k.lift
FROM workspace.kyle_related_keyword_combined k
         JOIN workspace.kyle_search_results_count rc ON k.related_keyword = rc.keyword
         JOIN workspace.kyle_keyword_view_count v ON k.related_keyword = v.keyword
WHERE results_count > 1
ORDER BY 4 DESC, 1, 10 DESC;
DROP TABLE IF EXISTS workspace.kyle_related_keyword_df_filtered;
CREATE TABLE workspace.kyle_related_keyword_df_filtered AS
SELECT *
FROM workspace.kyle_related_keyword_df_temp
WHERE confidence > 1 / pow(search_count, 0.6)
  AND lift > 1;
DROP TABLE IF EXISTS workspace.kyle_related_keyword_df_max;
CREATE TABLE workspace.kyle_related_keyword_df_max AS
SELECT keyword,
       max(confidence) AS max_confidence,
       max(lift)       AS max_lift
FROM workspace.kyle_related_keyword_df_filtered
GROUP BY 1;
SELECT keyword,
       related_keyword,
       related_count,
       search_count,
       related_search_count,
       results_count,
       related_view_count,
       total_search_count,
       support,
       confidence,
       lift,
       score
FROM (SELECT a.*,
       ROUND((0.7 * a.confidence / b.max_confidence:: float) +
             (0.3 * a.lift / b.max_lift:: float), 4) AS score,
       row_number() over(
           PARTITION BY a.keyword
           ORDER BY score DESC
           ) AS rank
FROM workspace.kyle_related_keyword_df_filtered a
         JOIN workspace.kyle_related_keyword_df_max b ON a.keyword = b.keyword) c
ORDER BY search_count DESC, keyword, score DESC;
"""
df = pd.read_sql(query, conn)
conn.close()

In [12]:
df

,keyword,related_keyword,related_count,search_count,related_search_count,results_count,related_view_count,total_search_count,support,confidence,lift,score
0,자전거,로드자전거,368,17308,4815,1070,23292,10242675,3.592811e-05,0.021262,4.522911e+01,0.8029
1,자전거,mtb자전거,239,17308,2652,1154,10888,10242675,2.333375e-05,0.013809,5.333237e+01,0.5759
2,자전거,중고자전거,78,17308,350,123,1344,10242675,7.615198e-06,0.004507,1.318843e+02,0.4484
3,자전거,전기자전거,174,17308,3947,1185,14181,10242675,1.698775e-05,0.010053,2.608847e+01,0.3903
4,자전거,중고전기자전거,111,17308,934,14,989,10242675,1.083701e-05,0.006413,7.033032e+01,0.3711
...,...,...,...,...,...,...,...,...,...,...,...,...
101793,힌정판 샤프,한정판 샤프,3,2,10,93,30,10242675,2.928922e-07,1.500000,1.536401e+06,1.0000
101794,힐스 id,힐스,3,2,22,392,34,10242675,2.928922e-07,1.500000,6.983642e+05,1.0000
101795,힐일버드,힐링버드,3,2,37,30,108,10242675,2.928922e-07,1.500000,4.152436e+05,1.0000
101796,힐튼이불,라지킹침대,3,2,8,27,23,10242675,2.928922e-07,1.500000,1.920502e+06,1.0000
101797,힐티 et6-a,힐티,3,2,264,154,834,10242675,2.928922e-07,1.500000,5.819702e+04,1.0000

In [13]:
df.to_csv('df.csv', index=False)

In [16]:
for i in df.keyword.unique():
    if '아이폰' in i:
        print(i)

아이폰
아이폰x
아이폰12
아이폰11
아이폰8
아이폰12미니
아이폰7
아이폰xr
아이폰 e2
아이폰 e
아이폰6
아이폰 x
아이폰11프로
아이폰12프로
아이폰 11
아이폰  e2
아이폰11pro
아이폰 12
아이폰12 미니
아이폰x  max
아이폰 8
아이폰12프로맥스
아이폰 xr
아이폰8플러스
아이폰5
아이폰 e1
아이폰12pro
아이폰  e
아이폰 미니
아이폰x  256
아이폰 7
아이폰 6
아이폰미니
아이폰 12 미니
아이폰 충전기
아이폰11프로맥스
아이폰 12미니
아이폰 공기계
아이폰8+
아이폰7플러스
아이폰4
아이폰 11pro
아이폰 케이스
아이폰케이스
아이폰12 프로
아이폰11 128
아이폰 이어폰
아이폰x  64
아이폰x  케이스
아이폰 e2 128
아이폰 미개봉
아이폰pro max
아이폰 교환
아이폰 e  스페이스그레이
아이폰11 프로
아이폰 5
아이폰 11프로
아이폰미니12
아이폰12 프로맥스
아이폰11 pro
아이폰 11 pro
아이폰10
아이폰xr 128
대구 아이폰
아이폰 교신
아이폰12 화이트
아이폰 x  max
아이폰12 pro
아이폰8 플러스
아이폰 11 프로
아이폰12 pro max
아이폰 12프로
아이폰  e1
아이폰12 교환
아이폰미니 케이스
아이폰프로맥스12
아이폰11 퍼플
아이폰12미니케이스
아이폰 12pro
아이폰프로맥스
아이폰 8+
아이폰 8플러스
아이폰7 128
아이폰 무음
아이폰 프로맥스
아이폰x max
아이폰 부품용
아이폰7+
아이폰xr 64
아이폰 8 플러스
아이폰 e2 미개봉
아이폰6 플러스
아이폰pro
아이폰12 그린
아이폰 부품
아이폰12mini
아이폰 e2 64
아이폰xa
아이폰x  max 256
아이폰12프로 교환
아이폰9
광주 아이폰
아이폰8 레드
아이폰프로맥스256
아이폰11 256
아이폰12 64
아이폰12 정품 케이스
아이폰xs
아이폰교환
아이폰 e2 케이스
아이폰플러스
아이폰11pro 256
아이폰 파손
아이폰x  골드
부산 아이폰
아이폰6플러스
아이폰12 미니 케이스
아이폰12미니 교환
아이폰교신
아이폰x  실버
아이폰12 교신
아이폰12프로맥스 애플케어
아이폰8 실버
아이폰 4
아이폰 무료나눔
아이폰pro 256
아이폰 10
아이폰 e2 화이트
아이폰 퍼플
아이폰5c
아이폰12 블루
아이폰c
아이폰11promax
아이폰12 promax
아이폰3
아이폰 12 pro max
아이폰x  미개봉
아이폰 정품 충전기
아이폰13
아이폰x  리퍼
아이폰 12 pro 256
대구 아이폰 e2
아이폰12미니 미개봉
아이폰 11 퍼플
아이폰 12 mini
아이폰이어폰
대구 아이폰x
아이폰11 미개봉
아이폰3g
아이폰프로12
아이폰 리퍼
아이폰1
아이폰12 mini
아이폰7 레드
아이폰x  정품케이스
아이폰se
청주 아이폰
아이폰11프로256
아이폰 e2 256
아이폰12미니 블랙
광주 아이폰12
아이폰 7+
아이폰 하우징
아이폰12미니 그린
아이폰 12프로맥스
아이폰12 대구
아이폰12프로 미개봉
아이폰플러스256
아이폰 부품폰
전주아이폰
아이폰 xa
아이폰 홍콩
아이폰11화이트
아이폰 액정 파손
아이폰 구성품
아이폰 미니 256
아이폰부품용
아이폰 천안
아이폰x 교신
아이폰x 미개봉
아이폰 11 프로맥스
아이폰 어댑터
아이폰mini
아이폰x 실버
아이폰부품
프라이탁 아이폰
아이폰11프로 교환
아이폰12 구미
아이폰 12 미개봉
아이폰 미니 교환
아이폰7 미개봉
아이폰 광주
아이폰6+
아이폰11 옐로우
아이폰12프로 교신
아이폰 e 미개봉
아이폰8레드
아이폰xr 256
아이폰12맥스
아이폰12 대전
아이폰 3g
아이폰 미국
아이폰12프로맥스 교환
아이폰6  플러스
아이폰8플러스 케이스
아이폰x  스페이스그레이
아이폰 11 256
아이폰 e케이스
아이폰 중고
아이폰12프로맥스 광주
아이폰11 광주
아이폰12 김천
구미 아이폰
아이폰 5c
아이폰11 교신
대구 아이폰11
대구 아이폰12프로
아이폰 1
아이폰x  128
아이폰x  교신
아이폰xr화이트
아이폰 e2 레드
아이폰 è2
아이폰x 골드
아이폰12미니 자급제
아이폰11옐로우
아이폰6 +
아이폰 11 미개봉
아이폰11프로맥스 케이스
아이폰 c
아이폰pro max 케이스
아이폰x  교환
순천 아이폰
아이폰 e2케이스
아이폰x  스그
아이폰7 블랙
아이폰 보조배터리
아이폰11프로 교신
아이폰12블랙
아이폰12프로맥스512
메종키츠네 아이폰
아이폰 e1 스페이스그레이
아이폰 맥스
아이폰 미니 128
아이폰11프로 실버
아이폰 11 블랙
아이폰 e 128
아이폰 e1 케이스
아이폰 e2 교신
아이폰12교신
아이폰xr 교신
아이폰xr블랙
군산아이폰
아이폰 정품케이스
아이폰12 미니 교환
아이폰 e1 미개봉
아이폰12 64기가
익산아이폰
청주 아이폰12
아이폰 11 폰케이스
아이폰11 퍼플 256
아이폰11미니
아이폰12민
아이폰8 교환
아이폰  e 1
아이폰7 플러스 케이스
대구 아이폰xr
아이폰  e 1세대
아이폰 e2 블랙
아이폰11 128기가
아이폰12프로맥스 미개봉
아이폰6 공기계
아이폰x  256 골드
아이폰x 128
아이폰액정파손
아이폰프로맥스케이스
아이폰 e2 정품케이스
아이폰 무선충전기
아이폰11프로 128
아이폰8실버
아이폰파손
아이폰 12 가죽케이스
아이폰 x  max 256
아이폰 그린
아이폰4s
아이폰x 512
아이폰 11 프로 256
아이폰11pro 교신
아이폰12프로맥스 전라남도
아이폰8 공기계
아이폰xr128
아이폰프로맥스12 256g 그래파이트
충주 아이폰
하이칙스 아이폰11
아이폰 12프로 128
아이폰 13
아이폰 6 +
아이폰 e1 128
아이폰 직구
아이폰 충전
아이폰256
아이폰 11프로 미개봉
아이폰 12pro 가죽케이스
아이폰 6 플러스
아이폰 e2미개봉
아이폰 x  max 64
아이폰 x  교신
아이폰11 리퍼
아이폰11레드
아이폰se 128
아이폰프로케이스
영천 아이폰
광주 아이폰 12
김해 아이폰 e2
대구 아이폰7
아이폰12pro 256 자급제
아이폰x  64 100
아이폰무료나눔
대구 아이폰8
아이폰 11 박스
아이폰 6+
아이폰 대전
아이폰11 프로 64
아이폰11민트
아이폰11블랙
아이폰8 플러스 케이스
아이폰x  맥스
아이폰xe
평택 아이폰
광양 아이폰
수원 아이폰
아이폰 11pro 교환
아이폰 e1 실버
아이폰 xr 레드
아이폰 대구
아이폰11 대전
아이폰12 상주
아이폰12pro 골드
아이폰12미니 부산
아이폰12미니화이트
대구 아이폰12미니
아이폰 11 옐로우
아이폰 12 미니 블랙
아이폰 2
아이폰 로즈골드
아이폰 리퍼 미사용
아이폰 미니 케이스티파이
아이폰11 박스
아이폰11 화이트 128
아이폰11프로맥스512
아이폰12 z플립
아이폰5케이스
아이폰6a
아이폰7 레드 256
아이폰8 파손
아이폰xr교신
아이폰고장
안동 아이폰
인천 아이폰12
춘천 아이폰12
케이스티파이 아이폰11프로
아이폰 e 32
아이폰 x  리퍼
아이폰 고장
아이폰12미니교신
아이폰12부산
아이폰8 레드 256
아이폰8화이트
여수 아이폰
오산아이폰
대전 아이폰11
아이폰 11프로 교환
아이폰 스그
아이폰 실리콘케이스
아이폰 액파
아이폰 화이트
아이폰12 공기계
아이폰12 화이트 미개봉
아이폰12pro 256 자급제 미개봉
아이폰12프로맥스 골드
아이폰12프로맥스128
아이폰5  32
아이폰6  미개봉
아이폰8플러스128
아이폰x  화이트
김해 아이폰
김해 아이폰 e
루이비통 아이폰케이스
아이폰 12 프로맥스 256 미개봉
아이폰 128기가
아이폰 e1 스그
아이폰 x 정품케이스
아이폰 고양시
아이폰 구매
아이폰 캐이스
아이폰11 맥스
아이폰11 애케플
아이폰11 청주
아이폰11프로 부산
아이폰12 그린 128
아이폰5  64
아이폰7 128기가
아이폰7 가개통
아이폰8 플러스 골드
아이폰x  풀박스
아이폰z
고야드아이폰케이스
부산아이폰x
아이폰  e 2세대
아이폰  e2 교신
아이폰 11 민트
아이폰 11퍼플
아이폰 12 프로 맥스 케이스
아이폰 e 16
아이폰 e2 박스
아이폰 z플립
아이폰 정품
아이폰11프로맥스 미개봉
아이폰12 민트
아이폰12프로 애플케어
아이폰6  스그
아이폰7 128g
아이폰7플러스 레드
아이폰x  풀박
아이폰x 부품용
아이폰미
아이폰중고
평택아이폰
대구 아이폰11pro
순천 아이폰11
아이폰 11 리퍼
아이폰 11프로맥스 256
아이폰 12 프로 맥스 자급제
아이폰 d
아이폰 r
아이폰 x  맥스
아이폰 평택
아이폰11 부품
아이폰11 새제품
아이폰11pro 스그
아이폰12pro케이스티파이
아이폰12박스
아이폰12프로 캐이스
아이폰12프로맥스 목포
아이폰6 이어폰
아이폰7부품
아이폰x  64 배터리
아이폰x  무음
아이폰x  부품폰
아이폰xr 케이스티파이
아이폰레드
아이폰프로맥스12 256g
m1맥북 아이폰
광주  아이폰
루이비통 아이폰
몽블랑 아이폰케이스
부산 아이폰12프로
부산아이폰 e2
아이폰  e 대구
아이폰 11 그린
아이폰 11 충전기
아이폰 12 프로맥스 256
아이폰 e부품폰
아이폰 u b
아이폰 갤럭시
아이폰11pri
아이폰11pro 512
아이폰11그린
아이폰11로
아이폰11퍼플 128
아이폰7 골드
아이폰8 불랙
아이폰8 화이트
아이폰8블랙
아이폰d
아이폰x  대전
대전 아이폰xr
대전아이폰 8
부산아이폰12프로맥스
아이폰 11 pro 교환
아이폰 6 16
아이폰 cr
아이폰 게임패드
아이폰 깨짐
아이폰 민
아이폰11 노랑
아이폰11 액파
아이폰11pro 케이스티파이
아이폰11삽니다
아이폰12 128 자급제
아이폰12 갤럭시 교환
아이폰12 미니 정품가죽
아이폰12 성주
아이폰12 정품 가죽
아이폰12 카드케이스
아이폰12가죽케이스
아이폰12미미
아이폰12프로삽니다
아이폰8 32
아이폰x 매입
부산 아이폰12프로맥스
부산 아이폰xr
부산아이폰11프로
아이폰 11 민트 128
아이폰 11 프로 128
아이폰 11 프로 256 100
아이폰 11pro 128
아이폰 11프로 128
아이폰 12 pro 미개봉 무음
아이폰 12 미니 교환
아이폰 12 프로 512
아이폰 12프로 교환
아이폰 e 로골
아이폰 e2 애플케어
아이폰 e3
아이폰 hdmi
아이폰 se1
아이폰 xe
아이폰 xr 파손
아이폰 zr
아이폰 갤럭시 교신
아이폰 애플케
아이폰 중고폰
아이폰11 맥스 무음
아이폰11 옐로우 128
아이폰11 캐이스
아이폰11pro 골드
아이폰11리퍼
아이폰11박스
아이폰12 김해
아이폰12 민
아이폰12 왜관
아이폰12 원주
아이폰12 캐이스
아이폰12미
아이폰2g
아이폰6  128g
아이폰6  부품용
아이폰6 스그
아이폰7 32gb
아이폰7 64g
아이폰8 실저
아이폰8 액파
아이폰8 프라이탁 케이스
아이폰8플러스 풀박스
아이폰xr256
전주 아이폰11
전주 아이폰11pro
진주 아이폰12
창원 아이폰 12pro
nba아이폰케이스
갤럭시 아이폰
구미 아이폰11
아이폰  8
아이폰 11 128gb
아이폰 11폰케이그
아이폰 12 그래파이트
아이폰 12 민
아이폰 e2교환
아이폰 xr  대구
아이폰 워치
아이폰12 pro max 512
아이폰12pri
아이폰12pro실버
아이폰12ㅁ니
아이폰12로
아이폰4  미개봉
아이폰5공기계
아이폰pro 케이스
아이폰x  max 정상해지
아이폰x  스그 256
아이폰x 메인보드
아이폰zr
전라북도아이폰
광주 아이폰8
김해 아이폰8
대구아이폰11pro
메종키츠네 아이폰11
아이폰  e 스페이스그레이
아이폰  e1 미개봉
아이폰 11 promax
아이폰 11 보라
아이폰 1ㅂ
아이폰 8 플러스 레드
아이폰 e 리퍼폰
아이폰 e 프라이탁 케이스
아이폰 e1교신
아이폰 e2 실버
아이폰 e교신
아이폰 x  max 256 골드
아이폰 z
아이폰 ㅃ
아이폰 패이크렌즈
아이폰11 보라
아이폰11프로 박스
아이폰11프로 사요
아이폰11프로 충전기
아이폰11프오
아이폰12 그린 256
아이폰12256
아이폰12pro 금색
아이폰12프로 맥스 그래 파이트 512gb
아이폰12프로맥스목포
아이폰5  골드
아이폰6부품용
아이폰7 새상품
아이폰cr
아이폰x 골드 대전 풀박스
아이폰xx
아이폰실리콘케스
하이칙스 아이폰 e
11아이폰
광주 아이폰 12 프로
광주 아이폰 교신
광주 아이폰미니
대구 아이폰 프로
대구아이폰12
대전 아이폰6  플러스
부산 아이폰 11
아이폰  20
아이폰  e 케이스티파이
아이폰  e 헬로키티
아이폰 11 프로 교신
아이폰 12 pro 실버
아이폰 12미니 캐이스
아이폰 3.5
아이폰 7사요
아이폰 8 플러스 리퍼
아이폰 c  max
아이폰 xd
아이폰 xs max 보호필름
아이폰 고야드
아이폰 디올케에스
아이폰 미니 블랙 128
아이폰 불량
아이폰 이어폰 미개봉
아이폰 충전ㄱ
아이폰 프로 케이스
아이폰 플러스 케이스
아이폰11 레드 128
아이폰11pro 256 풀박스
아이폰11pro 캐이스
아이폰11케이그
아이폰11프러
아이폰11프로 64 리퍼
아이폰12 그라파이트 교환
아이폰12 자급제 미개봉
아이폰12 프로맥스 256 그래파이트
아이폰12 홍콩판
아이폰12pro 교신
아이폰12미니부산
아이폰12미니삽니다
아이폰12미이
아이폰12푸로
아이폰12프
아이폰12프러
아이폰12프로맥스 가죽
아이폰12프로맥스 전남
아이폰2미니 케이스
아이폰6x
아이폰7100
아이폰8 스페이스
아이폰8 캐이스
아이폰8로즈골드 인천
아이폰se2 구성품
아이폰se2 배터리케이스
아이폰x  max 256 블랙
아이폰x  실버 64기가
아이폰x  실저
아이폰x 어피치
아이폰x 해외판
아이폰xr액정
아이폰x리퍼
인천아이폰
충청남도  아이폰12 정품
화성아이폰
.아이폰12
z플립아이폰교환
광주 아이폰 11
남포동 아이폰
내서 아이폰
대구 아이폰11프로 64
부산 아이폰8플러스
부산아이폰x케이스
아이폰  e 배터리 100
아이폰  e 지문
아이폰  e2 실버
아이폰 11 부천
아이폰 11 프로 맥스 자급제
아이폰 12 급처
아이폰 12미이
아이폰 12버전
아이폰 6  공기계
아이폰 e 실저
아이폰 x  max 교환
아이폰 x  로즈골드
아이폰 xrr
아이폰 교한
아이폰 루이비통 캐이스
아이폰 받스
아이폰 지갑 교신
아이폰 초기화
아이폰 텐
아이폰 펴플
아이폰 포플
아이폰11 프로 256 풀박
아이폰11 프로 케이스 정품
아이폰11 프로 풀박
아이폰11 하이칙스
아이폰11peo
아이폰11프로 울산
아이폰11프로맥스 박스
아이폰11프호
아이폰12  21
아이폰12 가죽캐이스
아이폰12 골드 교환
아이폰12 멕세이프
아이폰12 무료나눔
아이폰12 미니 상자
아이폰12미니 케잇
아이폰12프로 광주
아이폰12프로 그래파이트64
아이폰12프로골드교환
아이폰12프로맥스 256 애플케어
아이폰12프로맥스 삽니다
아이폰13프로
아이폰20
아이폰20w어댑터
아이폰5 가죽케이스
아이폰5 케이스 정품
아이폰6  64g
아이폰7 캐이스
아이폰7 한요한
아이폰7플러스 제트
아이폰ae
아이폰x  구찌
아이폰x 엣정
아이폰x 투명젤리
아이폰x 흰색 케이스
아이폰xd
아이폰xr 정품 실리콘케이스
아이폰xr 캐이스
아이폰ㅌ
아이폰루이비통케이스
아이폰에어패드프로
아이폰이어폰 3.5
아이폰케이그
아이폰프로12 그래파이트
울산아이폰x 프로맥스
증평 아이폰11
충청남도  아이폰12
카드 폰케이스 아이폰7
폴드2 아이폰12
대구 아이폰 11프로
대구아이폰max
대구아이폰미러링
밀양 아이폰12프로
부산 아이폰12 블루
산성동 아이폰7
수원 아이폰x  max
아이폰  e 공기계
아이폰  xa
아이폰 1-
아이폰 11 불랙
아이폰 11pto
아이폰 11그린 128
아이폰 12 pro 128 퍼시픽ㄹ루
아이폰 12 그림
아이폰 12 맥스
아이폰 12프로 맥스 세트
아이폰 12프로케이스
아이폰 6  실버
아이폰 7 상태
아이폰 7플러스 128 로즈골드
아이폰 8 a
아이폰 8 마이멜로디
아이폰 e 스페이스
아이폰 e1 100
아이폰 e1 부품폰
아이폰 e1ㅡ
아이폰 e2 캐이스
아이폰 e블랙
아이폰 io 12
아이폰 x  골드 리퍼
아이폰 x  성능
아이폰 x  잠금
아이폰 x  정품 t
아이폰 xs 64g
아이폰 xs max 미개봉
아이폰 xs max 케이수
아이폰 xx
아이폰 ㄱ
아이폰 겨환
아이폰 교호ㅓㄴ
아이폰 리퍼 미사영
아이폰 미개붕
아이폰 실리콘 xe
아이폰 실리콘케이수
아이폰 에어팟프로케이스
아이폰 진주스트랩
아이폰 충전디
아이폰 케잇ㅡ
아이폰 키이스
아이폰 테스트
아이폰 플러스골드
아이폰11 128 미사용
아이폰11 단품
아이폰11 매입
아이폰11 옐로유
아이폰11 프로 김해
아이폰11 프로 수원
아이폰11 프로맥스 안산
아이폰11 프로맥스 투명케에스
아이폰11,64gb
아이폰11pro uag
아이폰11pro 케이그
아이폰11색상교환
아이폰11자급
아이폰11퍼플 256
아이폰11프로 카드케이스
아이폰11프로케이스아놀드
아이폰12 pro mac
아이폰12 게이스
아이폰12 그림
아이폰12 실저
아이폰12 애플 케이스
아이폰12 회이트
아이폰12mini128
아이폰12pro 정품케이스 대전
아이폰12ㅠㅡ로
아이폰12미니 가죽켕스
아이폰12미니 미피케이스
아이폰12미니 케이스 아이앱
아이폰12캐이스
아이폰12프로맥스 캐이스
아이폰12프로맧
아이폰12프로먁스
아이폰1x
아이폰1ㅈ
아이폰4a
아이폰6 침수
아이폰6 플러스 스페이스 그렝
아이폰7  플러스
아이폰7 리퍼
아이폰7 배터리 케잇
아이폰7 유광
아이폰7보조배터리
아이폰7실바
아이폰7플러스공기계
아이폰8 액정깨짐
아이폰8고드
아이폰8플러스  급
아이폰8플러스 64기가
아이폰8플럿
아이폰8플릐스
아이폰mini256
아이폰pro max 그파
아이폰x  a
아이폰x  구ㅉ
아이폰x  급처
아이폰x  락폰
아이폰x 덤보
아이폰xr 새상품
아이폰교홬
아이폰미니케에스
아이폰미러링
아이폰부품폰
아이폰충정기
아이폰케이수
아이폰튱닝
아이폰프로 정품케에스

In [22]:
category_label = pd.read_csv('rec_rfm_category_label.csv000.gz', dtype=str, header=None, compression='gzip')

In [21]:
keyword_label = pd.read_csv('./data/keyword_label.csv', dtype=str)

In [23]:
category_label.shape

(1046, 2)

In [24]:
keyword_label.shape

(1822674, 2)

In [25]:
category_label.iloc[:,1]

0       1035
1        938
2        855
3        874
4         55
        ...
1041     617
1042     633
1043     858
1044     244
1045       0
Name: 1, Length: 1046, dtype: object

In [26]:
keyword_label.iloc[:, 1]

0           948942
1           255263
2          1576964
3          1697959
4          1445811
            ...
1822669    1342958
1822670     374847
1822671    1101805
1822672    1805924
1822673     490210
Name: label, Length: 1822674, dtype: object