In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
import matplotlib as plt
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from PIL import Image
import requests
from io import BytesIO

In [2]:
imp_df = pd.read_csv('imp_df_2.csv')

/Users/emilyPark/.pyenv/versions/bun-analytics/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
imp_df['category_id'] = imp_df['category_id'].astype(str)
category = [i[:3] for i in imp_df['category_id']]
imp_df['category'] = category

In [6]:
up_pids = pd.read_csv('up_pids.csv')
pid_day_diff = pd.read_csv('pid_created_day_diff.csv')

In [9]:
up_pids['ifUp'] = ['True'] * len(up_pids)

In [16]:
up_pids.columns = ['content_id', 'ifUp']

In [8]:
pid_day_diff.head()

   day_diff  content_id
0       565    99572032
1       557   100016640
2       557   100018176
3       565    99606848
4       564    99635264

In [17]:
imp_df = pd.merge(imp_df, up_pids, how='left', on='content_id')
imp_df = pd.merge(imp_df, pid_day_diff, on='content_id')

In [23]:
imp_df['ifUp'] = imp_df['ifUp'].fillna('False')

In [25]:
imp_df.head()

,day,imp_id,ref_term,user_id,content_id,content_position,content_owner,category_id,ad_type,ad_id,category,ifUp,day_diff
0,20201012,99815f83dbe419ebc463,노스페이스 핑크,12036541,76917587,101,150222,400050510,NaN,NaN,400,False,1053
1,20201012,97165f83332e17860967,노스페이스부츠,6642374,76917587,90,150222,400050510,NaN,NaN,400,False,1053
2,20201012,99815f83dc0219ec6b50,노스페이스 핑크,12036541,90792853,9,2805327,310090030,NaN,NaN,310,False,733
3,20201012,97165f83dbc719e4d24b,노스페이스 핑크,12036541,90792853,9,2805327,310090030,NaN,NaN,310,False,733
4,20201012,97165f83e1fc1a06fc00,핑크패딩,7173049,90792853,132,2805327,310090030,NaN,NaN,310,False,733

In [59]:
imp_df['ref_term'].nunique()

177422

In [43]:
keyword = imp_df.groupby('ref_term')['imp_id'].size().reset_index()
keyword.columns = ['ref_term', 'imp_cnt']

In [44]:
temp = keyword.groupby('imp_cnt')['ref_term'].count().reset_index()
temp = temp.sort_values('imp_cnt', ascending=False)
rank = np.array(range(1, len(temp)+1))
rank_reverse = np.array(range(len(temp), 0, -1))
temp['rank'] = rank
temp['rank_reverse'] = rank_reverse

In [45]:
temp = temp.drop('ref_term', axis = 1)

In [46]:
keyword = pd.merge(keyword, temp, how='left', on='imp_cnt')

              ref_term  imp_cnt  rank  rank_reverse
0                #0237       13  2449            13
1          #WH-1000XM4        5  2457             5
2                 #app        1  2461             1
3                #java       11  2451            11
4                  #과제       15  2447            15
5                #대학과제        3  2459             3
6                   #롤       31  2431            31
7                #리퍼랜드        6  2456             6
8                #분당명품        4  2458             4
9               #브더사엽서        1  2461             1
10                 #서버        1  2461             1
11                 #알바       31  2431            31
12                #청담덩        6  2456             6
13                #청담동       35  2427            35
14                #피소녀        3  2459             3
15               #하엘파파        1  2461             1
16               #호형훈제        9  2453             9
17       &otherstories       63  2399            63
18               '스톤패딩       23  2439            23
19               '아디다스        2  2460             2
20                 '지갑        3  2459             3
21      (DECO) 슬림 핏 자켓        1  2461             1
22                (k7)       86  2376            86
23            (구매)오마이걸        9  2453             9
24        (노스페이스)밴딩 팬츠        2  2460             2
25         (리바이스)체크 셔츠       17  2445            17
26        (새 메트로시티 숄더백        8  2454             8
27             (여자)아이들      313  2149           313
28          (여자)아이들 포카       22  2440            22
29                (차단)        7  2455             7
...                ...      ...   ...           ...
177392            힙색세트        1  2461             1
177393              힙섹       14  2448            14
177394             힙스터       30  2432            30
177395         힙스터 125        5  2457             5
177396          힙스터125       11  2451            11
177397             힙시트       38  2424            38
177398              힙쌕      494  1968           494
177399              힙업       75  2387            75
177400           힙업레깅스        1  2461             1
177401              힙웅        6  2456             6
177402             힙지은        2  2460             2
177403           힙크로스백       46  2416            46
177404           힙플라스크        9  2453             9
177405              힙한       47  2415            47
177406            힙한 옷        2  2460             2
177407          힙한 청바지        1  2461             1
177408             힙한옷        2  2460             2
177409              힙합      230  2232           230
177410          힙합 목걸이       26  2436            26
177411          힙합 몬스터        7  2455             7
177412           힙합 앨범       19  2443            19
177413            힙합 옷        4  2458             4
177414           힙합 팔찌        2  2460             2
177415           힙합목걸이       24  2438            24
177416            힙합바지       38  2424            38
177417            힙합앨범       26  2436            26
177418             힙합퍼        3  2459             3
177419           힙합피규어        5  2457             5
177420              힢마        6  2456             6
177421           ， 싼타페       30  2432            30

[177422 rows x 4 columns]

In [47]:
keyword.sort_values('imp_cnt', ascending=False)

              ref_term  imp_cnt  rank  rank_reverse
135830             자전거    51679     1          2461
111669             아이폰    37245     2          2460
27772               골프    32881     3          2459
110703            아이즈원    32675     4          2458
101967          스톤아일랜드    32635     5          2457
34821              나이키    32054     6          2456
42921              노트북    31203     7          2455
124949            오토바이    31003     8          2454
169570             피규어    29724     9          2453
158553            톰브라운    27726    10          2452
16719              pcx    27224    11          2451
29434               구찌    27189    12          2450
170517              픽시    26288    13          2449
165740              폴로    26014    14          2448
141590             중고차    24909    15          2447
56731            럭키슈에뜨    22759    16          2446
78480               방탄    22629    17          2445
61399             루이비통    21726    18          2444
162647              패딩    21702    19          2443
822                14k    21605    20          2442
93348               샤넬    21567    21          2441
161555           파리게이츠    21171    22          2440
56985               레고    21099    23          2439
135302              자라    20867    24          2438
176313             후리스    20107    25          2437
26284             경량패딩    19976    26          2436
80630              버버리    19243    27          2435
71195             몽클레어    18785    28          2434
137177           전동킥보드    18591    29          2433
16819           pcx125    18514    30          2432
...                ...      ...   ...           ...
64585          마라톤 250        1  2461             1
149825        커피빈텐트 서울        1  2461             1
161812             파우터        1  2461             1
33804        까사맘 미니세탁기        1  2461             1
107292          아동레플리카        1  2461             1
107293            아동롤러        1  2461             1
4840              5호바늘        1  2461             1
161806             파우지        1  2461             1
161826         파워 900w        1  2461             1
33803              까사맘        1  2461             1
20271       wf 1000XM3        1  2461             1
20273   wf 1000xm3 케이스        1  2461             1
132188           이스터바니        1  2461             1
107227        아도이 love        1  2461             1
46777            단백질 바        1  2461             1
20276        wf1000xm3        1  2461             1
107234         아동 가죽자켓        1  2461             1
107235           아동 교복        1  2461             1
4828                5초        1  2461             1
33802             까사마루        1  2461             1
107238        아동 라이더자켓        1  2461             1
107239      아동 레깅스 타이즈        1  2461             1
20275          wf-100w        1  2461             1
39711         남자 정장배스트        1  2461             1
161835         파워 프리앰프        1  2461             1
64595          마라톤화260        1  2461             1
149821         커피빈 삽니다        1  2461             1
8198          WYSE 후드티        1  2461             1
107253          아동 오클리        1  2461             1
52831    디스퀘어드2 청바지 st        1  2461             1

[177422 rows x 4 columns]

In [50]:
keyword.columns = ['ref_term', 'keyword_imp_cnt', 'rank', 'rank_reverse']

12753031

In [66]:
imp_df = pd.merge(imp_df, keyword, on='ref_term')

In [52]:
imp_df.head()

,day,imp_id,ref_term,user_id,content_id,content_position,content_owner,category_id,ad_type,ad_id,category,ifUp,day_diff,keyword_imp_cnt,rank,rank_reverse
0,20201012,99815f83dbe419ebc463,노스페이스 핑크,12036541,76917587,101,150222,400050510,NaN,NaN,400,False,1053,35,2427,35
1,20201012,99815f83dc0219ec6b50,노스페이스 핑크,12036541,90792853,9,2805327,310090030,NaN,NaN,310,False,733,35,2427,35
2,20201012,97165f83dbc719e4d24b,노스페이스 핑크,12036541,90792853,9,2805327,310090030,NaN,NaN,310,False,733,35,2427,35
3,20201012,99815f83dc0219ec6b51,노스페이스 핑크,12036541,94139647,10,3357019,400050500,NaN,NaN,400,False,668,35,2427,35
4,20201012,97165f83dbc719e4d24c,노스페이스 핑크,12036541,94139647,10,3357019,400050500,NaN,NaN,400,False,668,35,2427,35

In [53]:
imp_df.to_csv('imp_df_2.csv', index=False)

In [55]:
ad = imp_df[~imp_df['ad_type'].isna()]
no_ad = imp_df[(imp_df['ad_type'].isna()) & (imp_df['ifUp'] == 'False')]
up = imp_df[(imp_df['ad_type'].isna()) & (imp_df['ifUp'] == 'True')]

In [56]:
ad_temp = ad.groupby(['content_id', 'ref_term', 'rank'])['imp_id'].size().reset_index()
ad_temp.columns = ['content_id', 'ref_term', 'rank', 'imp_cnt']

no_ad_temp = no_ad.groupby(['content_id', 'ref_term', 'rank'])['imp_id'].size().reset_index()
no_ad_temp.columns = ['content_id', 'ref_term', 'rank', 'imp_cnt']

up_temp = up.groupby(['content_id', 'ref_term', 'rank'])['imp_id'].size().reset_index()
up_temp.columns = ['content_id', 'ref_term', 'rank', 'imp_cnt']

In [57]:
cache = {}
cache['ad'] = ad
cache['no_ad'] = no_ad
cache['up'] = up
cache['ad_ref_term'] = ad_temp
cache['no_ad_ref_term'] = no_ad_temp
cache['up_ref_term'] = up_temp

In [58]:
import pickle

with open('cache.pickle', 'wb') as handle:
    pickle.dump(cache, handle, protocol=pickle.HIGHEST_PROTOCOL)