In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
import matplotlib as plt
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
from PIL import Image
import requests
from io import BytesIO

## 검색 기준 노출 캡 (상점별)

#### 9/14 ~ 9/20 연휴가 없는 주를 기준으로 보기

### 일별 검색어 수

In [15]:
q = '''
SELECT YEAR||MONTH||DAY AS DAY,
                           count(DISTINCT ref_term) AS ref_term_cnt
FROM bun_log_db.app_event_type_impression i
WHERE page_id = '검색결과'
  AND YEAR||MONTH||DAY BETWEEN '20200914' AND '20200920'
GROUP BY 1
'''

daily_ref_term_cnt = pd.read_sql(q, con=bun_dw)

In [4]:
daily_ref_term_cnt.sort_values('day')

        day  ref_term_cnt
6  20200914        423261
1  20200915        418981
2  20200916        417942
4  20200917        406394
5  20200918        386271
0  20200919        382933
3  20200920        408212

In [11]:
print('Mean count of daily distinct ref term:', daily_ref_term_cnt['ref_term_cnt'].mean())

Mean count of daily distinct ref term: 406284.85714285716

In [12]:
# no space -- replace(ref_term, ' ', '')
print('Mean count of daily distinct ref term:', daily_no_space_ref_term_cnt['ref_term_cnt'].mean())

Mean count of daily distinct ref term: 359470.4285714286

In [16]:
q = '''
SELECT YEAR||MONTH||DAY AS DAY, ref_term
FROM bun_log_db.app_event_type_impression i
WHERE page_id = '검색결과'
  AND YEAR||MONTH||DAY BETWEEN '20200914' AND '20200920'
GROUP BY 1, 2
'''

daily_ref_term = pd.read_sql(q, con=bun_dw)

### 일주일간 검색어 수

In [6]:
q = '''
SELECT count(DISTINCT ref_term) AS ref_term_cnt
FROM bun_log_db.app_event_type_impression i
WHERE page_id = '검색결과'
  AND YEAR||MONTH||DAY BETWEEN '20200914' AND '20200920'
'''

weekly_ref_term_cnt = pd.read_sql(q, con=bun_dw)

In [7]:
weekly_ref_term_cnt

   ref_term_cnt
0       1494620

In [10]:
q = '''
SELECT count(DISTINCT replace(ref_term, ' ', '')) AS ref_term_cnt
FROM bun_log_db.app_event_type_impression i
WHERE page_id = '검색결과'
  AND YEAR||MONTH||DAY BETWEEN '20200914' AND '20200920'
'''

weekly_no_space_ref_term_cnt = pd.read_sql(q, con=bun_dw)

In [13]:
weekly_no_space_ref_term_cnt

   ref_term_cnt
0       1256351