In [1]:
import pandas as pd
import json
import math

In [2]:
brands = pd.read_csv('./data/final_brand.csv')

In [3]:
brands.columns = ['id', 'name_kor', 'name_eng', 'image_url', 'is_active', 'used_for_rec', 'used_for_follow', 'synonym', 'model', 'category']

In [4]:
brands.shape

(164, 10)

In [5]:
brands.head()

,id,name_kor,name_eng,image_url,is_active,used_for_rec,used_for_follow,synonym,model,category
0,1,나이키,Nike,NaN,1,1,1,NaN,NaN,NaN
1,2,스톤아일랜드,Stone Island,NaN,1,1,1,스톤 아일랜드,NaN,NaN
2,3,뉴발란스,NEW BALANCE,NaN,1,1,1,뉴발,NaN,NaN
3,4,아디다스,Adidas,NaN,1,1,1,NaN,이지부스트,NaN
4,5,노스페이스,THE NORTH FACE,NaN,1,1,1,"더노스페이스,노스 페이스, 더 노스페이스, 더 노스 페이스, 노페",NaN,NaN

In [8]:
brands.to_csv('final_brand.csv', index=False)

In [41]:
with open('brand.ndjson', 'w', encoding='utf8') as json_file:
    for idx, row in brands.iterrows():
        b = {"brand_id": row['id'], "synonyms": [i.strip() for i in str(row['synonym']).split(',') if i != 'nan'], "models": [i.strip() for i in str(row['model']).split(',') if i != 'nan'], "categories": [str(int(float(i))).strip() for i in str(row['category']).split(',') if i != 'nan']}
        json_file.write(str(json.dumps(b, ensure_ascii=False)) + '\n')

In [6]:
with open('brand164.ndjson', 'w', encoding='utf8') as json_file:
    for idx, row in brands.iterrows():
        b = {"brand_id": row['id'], "name_kor": row['name_kor'], "name_eng": row['name_eng'], "synonyms": [i.strip() for i in str(row['synonym']).split(',') if i != 'nan'], "models": [i.strip() for i in str(row['model']).split(',') if i != 'nan'], "categories": [str(int(float(i))).strip() for i in str(row['category']).split(',') if i != 'nan']}
        json_file.write(str(json.dumps(b, ensure_ascii=False)) + '\n')