In [14]:
import pandas as pd
import json
import math

In [2]:
brands = pd.read_csv('brand_list.csv')

In [3]:
brands.head()

     브랜드명           동의어                유사어
0     나이키          nike                NaN
1  스톤아일랜드  Stone island            스톤 아일랜드
2    뉴발란스   NEW BALANCE                 뉴발
3    아디다스        ADIDAS                NaN
4   노스페이스     NORTHFACE  더노스페이스,노페,더 노스페이스

In [4]:
brands.shape

(331, 3)

In [20]:
not math.isnan(brands.iloc[3]['synonyms'])

False

In [5]:
brands.columns = ['name_kor', 'name_eng', 'synonyms']

In [30]:
import ndjson
results = []
for idx, row in brands[:4].iterrows():
    b = {"brand_id": idx+1, "name_kor": str(row['name_kor']), "name_eng": str(row['name_eng']), "synonyms": [i for i in str(row['synonyms']).split(',') if i != 'nan'], "models": []}
    results.append(brand)

In [44]:
results

[{'brand_id': 4,
  'models': [],
  'name_eng': 'ADIDAS',
  'name_kor': '아디다스',
  'synonyms': []},
 {'brand_id': 4,
  'models': [],
  'name_eng': 'ADIDAS',
  'name_kor': '아디다스',
  'synonyms': []},
 {'brand_id': 4,
  'models': [],
  'name_eng': 'ADIDAS',
  'name_kor': '아디다스',
  'synonyms': []},
 {'brand_id': 4,
  'models': [],
  'name_eng': 'ADIDAS',
  'name_kor': '아디다스',
  'synonyms': []}]

In [47]:
with open('brand.ndjson', 'w', encoding='utf8') as json_file:
    for idx, row in brands.iterrows():
        b = {"brand_id": idx+1, "name_kor": str(row['name_kor']), "name_eng": str(row['name_eng']), "synonyms": [i for i in str(row['synonyms']).split(',') if i != 'nan'], "models": []}
        json_file.write(str(json.dumps(b, ensure_ascii=False)) + '\n')