In [2]:
import os
os.listdir('./data')

['product_brand_ner_data.ndjson',
 'final_brand.csv',
 'product_brand_ner_data(with_id).ndjson',
 'brand.ndjson',
 'data_for_crf.csv',
 'data_for_crf.pickle']

In [68]:
brand_df = pd.read_csv('./data/final_brand.csv')

In [74]:
brand_df

,id,name_kor,name_eng,image_url,is_active,used_for_rec,used_for_follow,synonym,model,category
0,1,나이키,Nike,NaN,1,1,1,NaN,NaN,NaN
1,2,스톤아일랜드,Stone Island,NaN,1,1,1,스톤 아일랜드,NaN,NaN
2,3,뉴발란스,NEW BALANCE,NaN,1,1,1,뉴발,NaN,NaN
3,4,아디다스,Adidas,NaN,1,1,1,NaN,이지부스트,NaN
4,5,노스페이스,THE NORTH FACE,NaN,1,1,1,"더노스페이스,노스 페이스, 더 노스페이스, 더 노스 페이스, 노페",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
159,160,BOSE,BOSE,NaN,1,1,1,NaN,NaN,NaN
160,161,하만카돈,Harman Kardon,NaN,1,1,1,하만 카돈,NaN,NaN
161,162,캐논,Canon,NaN,1,1,1,NaN,NaN,NaN
162,163,니콘,Nikon,NaN,1,1,1,NaN,NaN,NaN
163,164,폴라로이드,Polaroid,NaN,1,1,1,NaN,NaN,NaN

In [78]:
cols = ['name_kor', 'name_eng', 'synonym']
for col in cols:
    brand_df[col] = brand_df[col].astype(str)

brand_tmp = brand_df['name_kor'] + ',' + brand_df['name_eng'] + ',' + brand_df['synonym']

In [79]:
brand_tmp

0                                           나이키,Nike,nan
1                            스톤아일랜드,Stone Island,스톤 아일랜드
2                                    뉴발란스,NEW BALANCE,뉴발
3                                        아디다스,Adidas,nan
4      노스페이스,THE NORTH FACE,더노스페이스,노스 페이스, 더 노스페이스, 더...
                             ...
159                                        BOSE,BOSE,nan
160                             하만카돈,Harman Kardon,하만 카돈
161                                         캐논,Canon,nan
162                                         니콘,Nikon,nan
163                                   폴라로이드,Polaroid,nan
Length: 164, dtype: object

In [86]:
final_brand = []
for i in brand_tmp:
    final_brand += [s.strip().lower() for s in i.split(',') if s.strip() != 'nan']
final_brand = list(set(final_brand))

In [87]:
len(final_brand)

432

In [88]:
final_brand

['베르사체',
 'bottega veneta',
 '몽블랑',
 '앤더슨 벨',
 '애버크롬비',
 'ikea',
 '꼼데가르송',
 '무신사',
 'marketb',
 'audemars piguet',
 '내셔널지오그래픽',
 '스카티카메론',
 'ami',
 '마시모 두띠',
 '아디다스',
 "levi's",
 '이케아',
 '아더에러',
 '에르메스',
 'gentle monster',
 '태그호이어',
 '할리 데이비슨',
 'a.p.c.',
 'bmw',
 '테일러메이드',
 '슈콤마보니',
 '더 노스페이스',
 'covernat',
 '오니츠카타이거',
 '몽클레어',
 '아크메드라비',
 '포켓몬',
 '랄프로렌',
 '디올',
 '캉골',
 '로렉스',
 'versace',
 '나이키',
 'bang',
 '뱅앤 올룹슨',
 '디스퀘어드',
 '애르매스',
 'epon',
 '폴라로이드',
 '보테가베네타',
 '메종 키츠네',
 'dior',
 '꼼대',
 '디스이즈네버댓',
 'freitag',
 'pandora',
 'mark & lona',
 'lg전자',
 '알파인더스트리',
 'nintendo',
 '포틴',
 'issey miyake',
 'prgr',
 '언더 아머',
 '아식스',
 '우영미',
 'sennheiser',
 'leica',
 '마루망',
 '삼성',
 '로저비비애',
 'pxg',
 'ralph lauren',
 '아배크롬비',
 '레드발렌티노',
 'moncler',
 '꼼대 가르송',
 'comme des garçons',
 'alpha industries',
 'tottenham apparel',
 'patek philippe',
 '혼다',
 '반스',
 '톰브라운',
 'suecomma bonnie',
 'srixon',
 '스톤아일랜드',
 '뉴발',
 '뱅',
 '다이나톤',
 '캐나다구스',
 'acme de la vie',
 '핫토이즈',
 'diesel',
 'onitsuka tiger',
 'the north face',
 'stussy',
 'fear of god',
 '티쏘',
 '케나다 구스',
 '까르띠에',
 '피오갓',
 'uniqlo',
 '발렌티노',
 'off white',
 'sacai',
 '아크네',
 '이세이미야케',
 '프로기아',
 'abecrombie & fitch',
 'xexymix',
 '메종키츠네',
 '커즈와일',
 '스와로브스키',
 'supreme',
 '플레이스테이션',
 '마시모두띠',
 '컨버스',
 '꼼데 가르송',
 '고야드',
 '마샬',
 '미즈노',
 'off-white™️',
 'ader error',
 '젠틀몬스터',
 'stone island',
 '판도라',
 'massimo dutti',
 '엔비디아',
 '슈퍼마리오',
 '오데마',
 '피어 오브 갓',
 '불가리',
 '프라다',
 'taylormade',
 '토트넘',
 '아크메 드라비',
 'honda',
 '엔더슨벨',
 'system',
 '크록스',
 '파타고니아',
 'louis vuitton',
 'lacoste',
 'be@rbrick',
 '포켓몬스터',
 '투어스테이지',
 'tour stage',
 'montblanc',
 '오딧세이',
 'kurzweil',
 '하만카돈',
 'bridgestone golf',
 '로저 비비에',
 '무탠다드',
 '톰 브라운',
 '마크 앤 로나',
 '에센셜',
 'champion',
 '안다르',
 '반다이',
 'balmain',
 '롤랙스',
 '언더아머',
 '버버리',
 'tom ford',
 'xxio',
 'bose',
 'harman kardon',
 'vans',
 '디즈니',
 'play station',
 'roland',
 '띠어리',
 '오데마피게',
 'super mario bros',
 '프라이탁',
 'honma',
 'nvidia',
 'pearly gates',
 '라이카',
 'alexander mcqueen',
 '룰루레몬',
 '온오프 - 지쓰리',
 '캐논',
 '닥터 마틴',
 '타미힐피거',
 '애르메스',
 '카와사키',
 '베어브릭',
 '매종마르지엘라',
 '스위치',
 '메종마르지엘라',
 '몽클레르',
 '오메가',
 '몽끌레어',
 '케나다구스',
 '네셔널지오그래픽',
 'paul smith',
 'fourteen',
 'fendi',
 '티파니엔코',
 'lego',
 'britz',
 '아크매드라비',
 '하만 카돈',
 '플스',
 'rolex',
 'adidas',
 '겐조',
 'romaro',
 'asics',
 '삼성전자',
 'ping',
 '스와로브 스키',
 '라코스태',
 '튜더',
 'maruman',
 '브릿지스톤',
 '꼼대가르송',
 '시스템',
 'kenzo',
 '골든구스',
 'prada',
 '챔피온',
 '타미',
 '디스커버리',
 'offwhite',
 '온오프',
 'converse',
 'roger vivier',
 '커버낫',
 'adlv',
 'gucci',
 'pokémon',
 '파리게이츠',
 '롤렉스',
 'saint james',
 'ysl',
 '무스너클',
 '베티나르디',
 '브리츠',
 '타이틀리스트',
 'goyard',
 '제이린드 버그',
 '발렌시아가',
 'hermes',
 '라코스떼',
 '마르니',
 'new balance',
 'cort',
 '생로랑',
 'golden goose',
 'lululemon',
 'tudor',
 'nike',
 'andar',
 '닥터마틴',
 '유니클로',
 'tommy hilfiger',
 'thisisneverthat',
 '스톤 아일랜드',
 'discovery',
 '혼마',
 '몽끌레르',
 '무신사 스탠다드',
 '콜트',
 'stokke',
 '보테가 베네타',
 '캐나다 구스',
 '뉴발란스',
 '뤼비통',
 '파텍 필립',
 '노스페이스',
 'sony',
 '아베크롬비',
 '제이린드버그',
 '아크매 드라비',
 '내셔널 지오 그래픽',
 '마블',
 '폴로',
 'blackyak',
 '로저비비에',
 'valentino',
 '라코스테',
 '코스',
 '피어오브갓',
 '폴스미스',
 'musinsa standard',
 '닌텐도',
 'marvel',
 '크롬하츠',
 '매종키츠네',
 '오니즈카 타이거',
 'disney',
 'celine',
 '구호',
 '네셔널 지오그래픽',
 'kawasaki',
 '레고',
 '샤넬',
 '알렉산더 맥퀸',
 '해리포터',
 '할리데이비슨',
 'dsquared',
 '로마로',
 '이세이 미야케',
 '톰포드',
 '무신사스텐다드',
 'maison margiela',
 'bandai',
 '야마하',
 '제이비엘',
 'saint laurent',
 'j.lindeberg',
 'swarovski',
 '리바이스',
 'hot toys',
 '스토케',
 '스릭슨',
 '켄조',
 'kangol',
 '이브생로랑',
 '핑',
 '알렉산더맥퀸',
 '세인트 제임스',
 '알랙산더맥퀸',
 '슈프림',
 'samsung',
 '매종 마르지엘라',
 '타미 힐피거',
 '발망',
 '발렌티노가라바니',
 '디네뎃',
 'jbl',
 '디젤',
 'polo',
 '티파니앤코',
 '젝시믹스',
 'polaroid',
 '무신사스탠다드',
 'callaway',
 '노스 페이스',
 'cos',
 'national geographic',
 'essentials',
 '메종 마르지엘라',
 'titleist',
 '스투시',
 '갠조',
 'balenciaga',
 '노페',
 '앤더슨벨',
 'burberry',
 '루이비통',
 '애플',
 'bettinardi',
 'acne studio',
 'kuho',
 'wooyoungmi',
 '에이디엘브이',
 '오프화이트',
 'harry potter',
 'theory',
 'tag heuer',
 'crocs',
 '사카이',
 'tissot',
 'b&o',
 'marni',
 '티파니 앤코',
 'under armour',
 '제이 린드버그',
 '세인트제임스',
 '롤랜드',
 '아미',
 '루이비똥',
 '내셔널 지오그래픽',
 '꼼데',
 '젠하이저',
 'scotty cameron',
 '가와사키',
 '로랙스',
 '니콘',
 '아페쎄',
 '블랙야크',
 'bang & olufsen',
 '티파니',
 'yamaha',
 'golden goose deluxe brand',
 'cartier',
 'tiffany & co.',
 'apple',
 'dynatone',
 'omega',
 'thom browne.',
 'ggdb',
 'onoff',
 'nikon',
 'polo ralph lauren',
 'patagonia',
 '구찌',
 '펜디',
 '소니',
 'dr. martens',
 '마크앤로나',
 '캘러웨이',
 'harley-davidson',
 '오프 화이트',
 'discovery expedition',
 '더노스페이스',
 '입생로랑',
 'dsquared2',
 'moose knuckles',
 '뱅앤올룹슨',
 'andersson bell',
 '파텍필립',
 'bvlgari',
 '에폰',
 '마켓비',
 'chrome hearts',
 'canada goose',
 'lg',
 '더 노스 페이스',
 '매종 키츠네',
 '셀린느',
 'odyssey',
 'chanel',
 '젝시오',
 'canon',
 '알파 인더스트리',
 'mizuno',
 'marshall',
 '오니즈카타이거',
 '오니츠카 타이거',
 'maison kitsune',
 '테그호이어']

In [4]:
import ndjson
df = None
with open('./data/product_brand_ner_data(with_id).ndjson', 'r', encoding='utf8') as f:
    df = ndjson.load(f)

In [5]:
len(df)

1876305

In [7]:
df[10]

{'brand_id': 1,
 'brands': ['나이키'],
 'nfd_spans': [[0, 6]],
 'spans': [[0, 3]],
 'text': '나이키 네이비 여름 신발 270 265 (택포가격)'}

In [8]:
brand_ids = []
brands = []
texts = []
spans = []
for i in df:
    brand_ids.append(i['brand_id'])
    brands.append(i['brands'])
    texts.append(i['text'])
    spans.append(i['spans'])

In [11]:
def branding(text, spans):
    length = len(text)
    labels = [0] * length
    if len(spans) > 0:
        for span in spans:
            b = span[0]
            e = span[1]
            labels[b:e] = [1] * (e-b)
    return [(text[idx], '1') if value == 1 else (text[idx], '0') for idx, value in enumerate(labels)]

In [12]:
from pycrfsuite_spacing import TemplateGenerator, CharacterFeatureTransformer
from pprint import pprint

templates = TemplateGenerator(
    begin=-2,
    end=2,
    min_range_length=3,
    max_range_length=3
)

to_feature = CharacterFeatureTransformer(templates)

In [13]:
list(to_feature.templates)

[(-2, 0), (-1, 1), (0, 2)]

In [14]:
from pycrfsuite_spacing import sent_to_xy

x, y = sent_to_xy('나이키 네이비 여름 신발 270 265 (택포가격)', to_feature)

In [28]:
x

[['X[0,2]=나이키'],
 ['X[-1,1]=나이키', 'X[0,2]=이키네'],
 ['X[-2,0]=나이키', 'X[-1,1]=이키네', 'X[0,2]=키네이'],
 ['X[-2,0]=이키네', 'X[-1,1]=키네이', 'X[0,2]=네이비'],
 ['X[-2,0]=키네이', 'X[-1,1]=네이비', 'X[0,2]=이비여'],
 ['X[-2,0]=네이비', 'X[-1,1]=이비여', 'X[0,2]=비여름'],
 ['X[-2,0]=이비여', 'X[-1,1]=비여름', 'X[0,2]=여름신'],
 ['X[-2,0]=비여름', 'X[-1,1]=여름신', 'X[0,2]=름신발'],
 ['X[-2,0]=여름신', 'X[-1,1]=름신발', 'X[0,2]=신발2'],
 ['X[-2,0]=름신발', 'X[-1,1]=신발2', 'X[0,2]=발27'],
 ['X[-2,0]=신발2', 'X[-1,1]=발27', 'X[0,2]=270'],
 ['X[-2,0]=발27', 'X[-1,1]=270', 'X[0,2]=702'],
 ['X[-2,0]=270', 'X[-1,1]=702', 'X[0,2]=026'],
 ['X[-2,0]=702', 'X[-1,1]=026', 'X[0,2]=265'],
 ['X[-2,0]=026', 'X[-1,1]=265', 'X[0,2]=65('],
 ['X[-2,0]=265', 'X[-1,1]=65(', 'X[0,2]=5(택'],
 ['X[-2,0]=65(', 'X[-1,1]=5(택', 'X[0,2]=(택포'],
 ['X[-2,0]=5(택', 'X[-1,1]=(택포', 'X[0,2]=택포가'],
 ['X[-2,0]=(택포', 'X[-1,1]=택포가', 'X[0,2]=포가격'],
 ['X[-2,0]=택포가', 'X[-1,1]=포가격', 'X[0,2]=가격)'],
 ['X[-2,0]=포가격', 'X[-1,1]=가격)'],
 ['X[-2,0]=가격)']]

In [18]:
print(y)

['0', '0', '1', '0', '0', '1', '0', '1', '0', '1', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0', '1']

In [33]:
def generate_templates(begin=-2, end=2, min_range_length=3, max_range_length=3):
    templates = []
    for b in range(begin, end):
        for e in range(b, end+1):
            length = (e - b + 1)
            if length > max_range_length or length < min_range_length:
                continue
            if b * e > 0:
                continue
            templates.append((b, e))
    return templates

templates = generate_templates()

In [34]:
def get_features(templates, text, i):
    features = {
        'char_position': i,
        'char': text[i]
    }
    e_max = len(text)
    keys = []
    values = []
    for t in templates:
        b = i + t[0]
        e = i + t[1] + 1
        if b < 0 or e > e_max:
            continue
        keys.append('x[%d : %d]' % (t[0], t[1]))
        values.append([text[b:e]])
    features.update(dict(zip(keys, values)))
    return features

In [37]:
from tqdm import tqdm 

def get_data(brand_ids, texts, spans):
    branding_list = []
    word2features_list = []
    label_list = []
    brand_list = []
    for idx, text in tqdm(enumerate(texts)):
        brand = brand_ids[idx]
        brand_list.append(brand)
        span = spans[idx]
        br = branding(text, span)
        branding_list.append(br)
        w2f = [get_features(templates, text, i) for i in range(len(text))]
        word2features_list.append(w2f)
        label = [label for char, label in br]
        label_list.append(label)
    return {
        'name': texts,
        'branding_list': branding_list, 
        'word2features_list': word2features_list, 
        'label_list': label_list,
        'brand': brand_list
       }

In [38]:
import numpy as np

idx_sample_list = np.random.choice(len(texts), 500000)

data = get_data(np.array(brand_ids)[idx_sample_list].tolist(),
                np.array(texts)[idx_sample_list].tolist(), 
                np.array(spans)[idx_sample_list].tolist())

/Users/emilyPark/.pyenv/versions/bun-analytics/lib/python3.7/site-packages/ipykernel_launcher.py:7: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  import sys
500000it [01:43, 4843.75it/s]

In [41]:
import pandas as pd
data_as_df = pd.DataFrame.from_dict(data)

In [131]:
data_as_df.head()

,name,branding_list,word2features_list,label_list,brand
0,루이비통 주사위팔찌,"[(루, 1), (이, 1), (비, 1), (통, 1), ( , 0), (주, 0...","[{'char_position': 0, 'char': '루', 'x[0 : 2]':...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]",40
1,컨버스 cx 280,"[(컨, 1), (버, 1), (스, 1), ( , 0), (c, 0), (x, 0...","[{'char_position': 0, 'char': '컨', 'x[0 : 2]':...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0]",16
2,백화점 정품 고야드 빅투와르 스페셜 반지갑,"[(백, 0), (화, 0), (점, 0), ( , 0), (정, 0), (품, 0...","[{'char_position': 0, 'char': '백', 'x[0 : 2]':...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, ...",91
3,정품 메종키츠네 반팔티 xl,"[(정, 0), (품, 0), ( , 0), (메, 1), (종, 1), (키, 1...","[{'char_position': 0, 'char': '정', 'x[0 : 2]':...","[0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]",11
4,프라이탁 마이애미바이스(택없음),"[(프, 1), (라, 1), (이, 1), (탁, 1), ( , 0), (마, 0...","[{'char_position': 0, 'char': '프', 'x[0 : 2]':...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",32

In [138]:
from sklearn_crfsuite import metrics, CRF
from sklearn.model_selection import train_test_split
import pickle
import numpy as np
import pandas as pd

class CrfBrandDetector:
    def __init__(self):
        self.df = None
        self.test_index = None
        self.crf = None
        self.y_pred = None
    
    def train_test_split(self, df, test_size=0.2, random_state=123):
        self.df = df
        x_train, x_test, y_train, y_test = train_test_split(
            self.df['word2features_list'], self.df['label_list'],
            test_size=test_size,
            random_state=random_state
        )
        self.test_index = x_test.index
        return x_train, x_test, y_train, y_test
    
    def fit(self, x_train, y_train):
        self.crf = CRF(
            algorithm='lbfgs',
            c1=0.05,
            c2=0.05,
            max_iterations=100,
            all_possible_states=True
        )
        self.crf.fit(x_train, y_train)
    
    def save_model(self, model_file_name='crf_model.sav'):
        pickle.dump(self.crf, open(model_file_name, 'wb'))
        
    def predict(self, x):
        self.y_pred = self.crf.predict(x)
        product_names = [[diction['char'] for diction in obs] for obs in x]
        pred_tags = []
        pred_brands = []
        for idx, pred in enumerate(self.y_pred):            
            ts = []
            i = 0
            while i < len(pred):
                if pred[i] == '1':
                    if len(ts) > 0 and (i - ts[-1][0]) > 1:
                        ts.append((i, 's')) # start new word
                    else:
                        ts.append((i, 'n')) # not
                i += 1
            pred_tags.append(ts)
        
            predicted = ''
            name = product_names[idx]
            for idx, tag in ts:
                if tag == 'n':
                    predicted += name[idx]
                if tag == 's':
                    predicted += (' ' + name[idx])
            
            pred_brands.append(predicted.split())
        return {
            'product_name': product_names,
            'y_pred': self.y_pred,
            'pred_tags': pred_tags,
            'predicted_brand': pred_brands
            
        }

    
    def report_classification(self, x_test, y_test):
        labels = list(self.crf.classes_)
        labels.remove('0')
        print(metrics.flat_classification_report(
            y_test,
            self.y_pred,
            labels=labels,
            digits=3
        ))

    def evaluate(self, y_test):
        acc = float(list(y_test == self.y_pred).count(True)) / len(self.y_pred)
        return acc

In [139]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Start Time =", current_time)

crf_model = CrfBrandDetector()
x_train, x_test, y_train, y_test = crf_model.train_test_split(data_as_df)
crf_model.fit(x_train, y_train)

current_time = datetime.now().strftime("%H:%M:%S")
print("End Time =", current_time)

Start Time = 17:15:42
End Time = 17:25:45

In [140]:
pred = crf_model.predict(x_test)

In [141]:
pred_as_df = pd.DataFrame.from_dict(pred)

In [146]:
pred_as_df.head()

,product_name,y_pred,pred_tags,predicted_brand
0,"[베, 이, 프, , 케, 이, 스, 티, 파, 이, , 아, 이, 폰, 1, ...","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[(0, n), (1, n), (2, n)]",[베이프]
1,"[[, 2, 5, 0, ~, 2, 8, 0, (, 5, 단, 위, ), ], , ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[(15, n), (16, n), (17, n)]",[나이키]
2,"[(, 정, 품, ), , 겐, 조, , 베, 이, 직, , 옐, 로, 우, ...","[0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[(5, n), (6, n)]",[겐조]
3,"[뉴, 발, 란, 스, , 운, 동, 화, , -, , 2, 4, 0, , ...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[(0, n), (1, n), (2, n), (3, n)]",[뉴발란스]
4,"[(, x, l, ), , 아, 디, 다, 스, , 후, 드, , 집, 업]","[0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0]","[(5, n), (6, n), (7, n), (8, n)]",[아디다스]

In [149]:
tmp = pred_as_df[pred_as_df['predicted_brand'].apply(lambda x: len(x) > 1)]

In [158]:
tmp.shape

(5890, 4)

In [160]:
tmp[['product_name', 'predicted_brand']][165:200]

,product_name,predicted_brand
2897,"[s, t, o, n, e, , i, s, l, a, n, d, , (, , ...","[stone, island]"
2909,"[빔, 즈, , b, e, a, m, s, , n, y, , 카, 모, , ...","[빔즈, beams]"
2921,"[코, 스, , c, o, s, , 스, 웨, 터, , m]","[코스, cos]"
2925,"[노, 스, 페, 이, 스, , 7, 0, 0, , 노, 페]","[노스페이스, 노페]"
2934,"[아, 디, 다, 스, , a, d, i, d, a, s, , 흰, 검, , ...","[아디다스, adidas]"
2967,"[c, a, r, h, a, r, t, t, , w, i, p, , 칼, 하, ...","[carhartt, 칼하트]"
2999,"[[, f, r, e, e, ], , 비, 비, 안, , 웨, 스, 트, , ...","[비비안, 웨스트, 우드]"
3011,"[자, 라, , z, a, r, a, , 니, 트]","[자라, zara]"
3054,"[마, 이, 클, , 코, 어, 스, , 가, 방, , 새, 상, 품]","[마이클, 코어스]"
3097,"[y, ', s, , 요, 지, , 야, 마, 모, 토, , 리, 빙, , ...","[요지, 야마모토]"
3108,"[발, 렌, 티, 노, , 로, 만, 스, 터, 드, 백, , /, , 발, ...","[발렌티노, 발렌티노가방]"
3152,"[나, 이, 키, , n, i, k, e, , 인, 터, 내, 셔, 널, 리, ...","[나이키, nike]"
3155,"[프, 라, 다, , 미, 니, , 파, 우, 치, , 키, 링, (, 프, ...","[프라다, 프라다]"
3162,"[나, 이, 키, , 신, 발, , 나, 이, 키, , 운, 동, 화, , ...","[나이키, 나이키]"
3176,"[(, c, 9, 3, 8, ), , l, , 폴, 로, , 랄, 프, 로, ...","[폴로, polo]"
3195,"[타, 미, , 힐, 피, 거, , 새, 제, 품, , 벨, 트]","[타미, 힐피거]"
3200,"[f, a, t, a, l, i, s, m, , 페, 이, 탈, 리, 즘, , ...","[fata, 페이탈리즘]"
3221,"[p, o, l, o, , r, a, l, p, h, , l, a, u, l, ...","[polo, 폴로]"
3259,"[오, 베, 이, 셔, 츠, , o, b, e, y, , 큰, m, 사, 이, ...","[오베이, obey]"
3273,"[p, o, l, o, , 폴, 로, , 랄, 프, 로, 렌, , 여, 성, ...","[polo, 폴로]"
3279,"[[, s, ], p, a, t, a, g, o, n, i, a, , 파, 타, ...","[patagonia, 파타고니아]"
3285,"[정, 품, 급, 9, 9, ., 9, %, ), 바, 쉐, 론, , 콘, 스, ...","[바쉐론, 콘스탄틴]"
3335,"[골, 든, 구, 스, , 슈, 퍼, 스, 타, , 아, 더, 에, 러, 발, ...","[골든구스, 아더에러발렌티노꼼데가르송아더에러구찌써네이발렌시아가]"
3361,"[무, 신, 사, , 스, 탠, 다, 드, , 조, 거, 웨, 빙, 밸, 트, ...","[무신사, 스탠다드]"
3395,"[찰, 스, 앤, , 키, 스, , 세, 무, 단, 화]","[찰스앤, 키스]"
3404,"[프, 라, 다, (, p, r, a, d, a, ), , 가, 죽, , 장, ...","[프라다, prada]"
3442,"[z, a, r, a, , 자, 라, , 패, 턴, 미, 디, 원, 피, 스, ...","[zara, 자라]"
3445,"[s, a, n, d, r, o, , 산, 드, 로, , 연, 청, 바, 지]","[sandro, 산드로]"
3449,"[무, 신, 사, , 스, 탠, 다, 드, , 옥, 스, 퍼, 드, 셔, 츠, ...","[무신사, 스탠다드]"
3470,"[띠, 어, 리, , t, h, e, o, r, y, , 청, 바, 지, , ...","[띠어리, theory]"
3488,"[스, 톤, , 아, 일, 랜, 드, , 나, 일, 론, , 볼, 캡, , ...","[스톤, 아일랜드]"
3505,"[(, 정, 품, ), , e, t, r, o, , 에, 트, 로, , 페, ...","[etro, 에트로]"
3544,"[빈, 폴, , 라, 코, 스, 떼, s, t, , 5, 5]","[빈폴, 라코스떼st]"
3602,"[띠, 어, 리, (, t, h, e, o, r, y, ), 경, 량, , 패, ...","[띠어리, theory]"
3650,"[빔, 즈, , b, e, a, m, s, , 오, 버, 사, 이, 즈, , ...","[빔즈, beams]"

In [51]:
tmp = y_pred[12]
print(tmp)

['1', '1', '0', '1', '1', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [113]:
ts = []
i = 0
while i < len(tmp):
    if tmp[i] == '1':
        if len(ts) > 0 and (i - ts[-1][0]) > 1:
            ts.append((i, 's')) # start new word
        else:
            ts.append((i, 'n')) # not
    i += 1

In [114]:
ts

[(0, 'n'), (1, 'n'), (3, 's'), (4, 'n'), (5, 'n'), (6, 'n')]

In [118]:
p_name = pred.loc[12]['product_name']
predicted = ''
for idx, tag in ts:
    if tag == 'n':
        predicted += p_name[idx]
    if tag == 's':
        predicted += (' ' + p_name[idx])

In [121]:
print(p_name)
print(predicted)

자라 zara m사이즈 원피스
자라 zara

In [89]:
notok = []
for i in pred.predicted_brand.unique():
    if i not in final_brand:
        notok.append(i)

In [120]:
pred[pred['predicted_brand'].isin(notok)]

                          product_name predicted_brand
0                 베이프 케이스티파이 아이폰11 케이스             베이프
6              루이까스텔 덕다운 패딩/남성105/칠팔구제           루이까스텔
8                            데상트 사이즈95             데상트
12                    자라 zara m사이즈 원피스          자라zara
20                     (당일출고)닐바렛 반팔티셔츠             닐바렛
...                                ...             ...
99983            mcm 송치 토트백 가방 여성가방 가죽             mcm
99988  블레스 bless football bag 풋볼 가방 판매        블레스bless
99991                        펜디&벨벳23만원
99994                 더일마 라프시몬스 검정 맨투맨           라프시몬스
99997           꼼데가르송 알파 라이너 자켓 꼼데 깔깔이         꼼데가르송꼼데

[28974 rows x 2 columns]

In [123]:
pred[pred['predicted_brand'] == '아디다스']

                         product_name predicted_brand
4                     (xl) 아디다스 후드 집업            아디다스
5                            아디다스  모자            아디다스
21                   m 아디다스 반집업 웜업 블랙            아디다스
27                  아디다스 배색 맨투맨 xl 후드            아디다스
43     [아디다스] 이지부스트 350 v2 카퍼 (270mm)            아디다스
...                               ...             ...
99927                  아디다스 이지부스트 275            아디다스
99938           95) 아디다스 양면 패딩 조끼 오리털            아디다스
99964             260) 아디다스 코트밴티지 운동화            아디다스
99972                 아디다스 농구화 뱨송비 포함            아디다스
99987                  아디다스 기능성티 팝니다.            아디다스

[4615 rows x 2 columns]

In [48]:
pred[:20]

                         product_name predicted_brand
0                베이프 케이스티파이 아이폰11 케이스             베이프
1       [250~280(5단위)] 나이키 에어포스 로우 검흰             나이키
2            (정품) 겐조 베이직 옐로우 그린 반팔 셔츠              겐조
3       뉴발란스 운동화 - 240 ( 새 제품 ) 팝니다!!            뉴발란스
4                     (xl) 아디다스 후드 집업            아디다스
5                            아디다스  모자            아디다스
6             루이까스텔 덕다운 패딩/남성105/칠팔구제           루이까스텔
7      [m] 무스너클 블랙 골드 폭스퍼 스틸링 여성 패딩점퍼            무스너클
8                           데상트 사이즈95             데상트
9   [50] 우영미 19fw 네이비 보더 스트라이프 니트 베스트             우영미
10                에르메스 남성 벨트 [u12377]            에르메스
11           구찌 정품 삼선 슬리퍼 43(275~280)              구찌
12                   자라 zara m사이즈 원피스          자라zara
13                나이키 에어맥스 2017 275mm             나이키
14              루이비통 모노그램 이클립스 스티머 백팩            루이비통
15                      노스페이스 부츠(새상품)           노스페이스
16              버버리 일본정품 블루라벨 스커트(38)             버버리
17                            시스템 반코트             시스템
18             프라다 남자 반지갑 사피아노 팝니다 풀박             프라다
19         (당일배송) 발렌티노 반팔 티셔츠 할인 배송!!            발렌티노

In [47]:
crf_model.report_classification(x_test, y_test)

              precision    recall  f1-score   support

           1      0.994     0.996     0.995    382748

   micro avg      0.994     0.996     0.995    382748
   macro avg      0.994     0.996     0.995    382748
weighted avg      0.994     0.996     0.995    382748

In [192]:
import numpy as np
acc = float(list(np.array(y_test) == np.array(y_pred)).count(True))/len(y_pred)

/Users/emilyPark/.pyenv/versions/bun-analytics/lib/python3.7/site-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [196]:
round(acc, 6)

0.99328